:root {
  // Color
  --redPigment: #FF2F2F;
  --bdazzledBlue: #3369F3;
  --aliceBlue: #e8f0ff;
  --black: #020100;
  --white: #fff;
  --davysGrey: #565857;
  --silverSand: #bcbdc0;
  --lightGray: #ececec;
  --overloadColor: rgba(42, 43, 55, 0.9);
  // Size
  --defaultSize: 16px;
  --title: 24px;
  --subtitle: 12px;
  --text: 16px;
  --description: 9px;
  // Other
  --defaultTransition: 0.2s ease;
}