:root {
  --red: #FF2F2F;
  --blue: #3369F3;
  --white: #FFFFFF;
  --black: #1E1E1E;
  --gray: #999999;
  --lightGray: #FBFBFB;
  --mediumGray: #ECECEC;

  --title: 20px;
  --subtitle: 12px;
  --text: 16px;
  --description: 8px;
  --defaultSize: 16px;  
}