.pages {
  padding: 30px 35px;
  .link {
    margin-bottom: 10px;
  }
}

.navigation {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    max-width: 130px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
