.input-field {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;

  .label {
    font-size: var(--description);
    color: var(--gray);
    margin-bottom: 5px;
  }

  .input {
    width: 100%;
    padding: 5px;
    font-size: var(--text);
    box-sizing: border-box;
  
    //border: none;
    // border-bottom: 1px solid var(--blue);
  
    &:focus {
      outline: none;
    }
  }

  .input::placeholder {
    color: var(--gray);
    font-weight: 200;
    font-size: var(--description);
  }

  .description {
    margin-top: 5px;
    font-weight: 200;
    font-size: var(--description);
  
    &-hint {
      color: var(--gray);
    }
  
    &-error {
      color: var(--red);
    }
  }
}
