.button-left-side {
  align-items: center;
  background-color: var(--bdazzledBlue);

  background-image: url('_/image/icons/arrowLeft.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 5px;
}
