.open-chat {
  &__button-send {
    align-items: center;
    background-color: var(--bdazzledBlue);
    border: 0;

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    width: 100%;

    img {
      width: 15px;
    }

    &:hover,
    &:focus-within {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
